{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block auth_body %}

<div class="min-h-screen flex items-center justify-center">

    <div class="bg-white p-8 rounded-2xl shadow-md w-full max-w-md">

        <h1 class="text-3xl font-bold mb-6 text-center">
            Login
        </h1>

        <form method="POST" class="space-y-4">

            <div>
                <label>Email</label>

                <input
                    type="email"
                    name="email"
                    required
                    class="w-full border rounded-lg px-4 py-2"
                >
            </div>

            <div>
                <label>Password</label>

                <input
                    type="password"
                    name="password"
                    required
                    class="w-full border rounded-lg px-4 py-2"
                >
            </div>

            <button
                type="submit"
                class="w-full bg-black text-white py-3 rounded-lg"
            >
                Login
            </button>

        </form>

        <p class="text-center mt-4">
            No account?
            <a
                href="/register"
                class="text-blue-500"
            >
                Register
            </a>
        </p>

    </div>

</div>

{% endblock %}